.featured-post__container {
    display: flex;
    padding: 2rem 3rem;
    color: $black;

    @include bp(max-width small){
        padding: 2rem 1rem 0 1rem;
    }

    &:hover {
        opacity: .8;
    }
}

.featured-post__img {
    width: 30%;
    height: 80px;

    @include bp(max-width small){
        width: 30%;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.featured-post__text {
    padding-left: 1rem;
    width: 70%;
    letter-spacing: .03em;
    
    @include bp(large){
        width: 70%;
    }

    h4 {
        font-weight: 400;
        font-size: 1rem;
    }

    span {
        color: $grey;
        font-size: .625rem;
        text-transform: uppercase;
        letter-spacing: .2em;
    }
}