//header styles
//vars

$_header-height  : 100px;

.header {
    height: $_header-height;
    width: 100%;
    position: fixed;
    background-color: $white;
    z-index: 1000;
}

.header-logo {
    display: flex;
    align-items: center;
    height: $_header-height;

    span {
        margin-left: .6rem;
        font-size: 1.2rem;
    }
}

.header-logo__img {
    height: 40px;
}

.header-nav {
    height: $_header-height;
}

.header-nav__container {
    display: inline-flex;
    align-items: center;
    height: $_header-height;

    @include bp(max-width small){
        display: none;
    }

    li {
        margin: 0 1.4rem;
        display: inline-block;
        position: relative;
        color: $black;
    }

    li::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #0087ca;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }

    li:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    a {
        color: $black;
    }
}

.social-icons {
    width: 2rem;
    margin-right: 1.2rem;
}