//header styles
.header {
    height: 100px;
    width: 100%;
}

.header-logo {
    display: flex;
    align-items: center;
    height: 100px;

    span {
        margin-left: .6rem;
        font-size: 1.2rem;
    }
}

.header-logo__img {
    height: 40px;
}

.header-nav {
    height: 100px;
}

.header-nav__container {
    display: inline-flex;
    align-items: center;
    height: 100px;

    li {
        margin: 0 1.4rem;
        display: inline-block;
        position: relative;
        color: $primary;
    }

    li::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #0087ca;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }

    li:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
}

.social-icons {
    width: 1.6rem;
    margin-left: .8rem;
}