.intro__container {
    height: 440px;
    background-color: $blue;
}

.intro-body {
    right: 0;
    text-align: center;
}

.intro-bg {
    background-image: url('/img/clouds.svg');
}

.intro-body__image {
    text-align: center;
    padding-top: 50px;

    img {
        width: 160px;
        height: auto;
        margin: auto;
    }
}

.intro-body__header {
    padding-top: 2rem;
    text-align: center;
    color: $white;

    h1 {
        font-family: $mono;
    }

    p {
        max-width: 60%;
        text-align: center;
        margin: auto;
    }
}