//Default styles

// Images
// ------

img {
    max-width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}
  
  
// Removes Dotted Border
// ---------------------
  
:focus {
    outline: 0;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 1rem;

    @include bp(large) {
        padding: 0;
    }
}